body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  .mybox{
    width: 100px;
    height: 100px;
    border: 2px;
    border-style: solid;
  }

  .mybox2{
    width: 100px;
    height: 100px;
    border-style: groove;
  }